*
!assets/
!config/
!frontend/compiled-lang/
!frontend/lang/
!frontend/public/
!frontend/src/
!frontend/.env.production
!frontend/.env.development
!frontend/index.html
!frontend/package-lock.json
!frontend/package.json
!frontend/tsconfig.json
!frontend/tsconfig.node.json
!frontend/tsconfig.prod.json
!frontend/vite.config.ts
!lib/
!priv/
!rel/
!LICENSE
!mix.exs
!mix.lock