// Import customisations first, afterwards import bootstrap::after

@import "colors";
@import "fonts";
@import "button";
@import "gradient";
@import "form";
@import "list";
@import "utilities";

// Required
@import "bootstrap/scss/_functions";
@import "bootstrap/scss/_variables";

// See https: //getbootstrap.com/docs/5.3/customize/color-modes/ - until we support dark mode for the theme, we should disable this:
$enable-dark-mode: false;


@import "bootstrap/scss/_maps";
@import "bootstrap/scss/_mixins";
@import "bootstrap/scss/_utilities";
@import "bootstrap/scss/_root";
@import "bootstrap/scss/_reboot";

@import "bootstrap/scss/_type";
@import "bootstrap/scss/_images";
@import "bootstrap/scss/_containers";
@import "bootstrap/scss/_grid";
@import "bootstrap/scss/_tables";
@import "bootstrap/scss/_forms";
@import "bootstrap/scss/_buttons";
@import "bootstrap/scss/_transitions";
@import "bootstrap/scss/_dropdown";
@import "bootstrap/scss/_button-group";
@import "bootstrap/scss/_nav";
@import "bootstrap/scss/_navbar"; // Requires nav
@import "bootstrap/scss/_card";
@import "bootstrap/scss/_breadcrumb";
@import "bootstrap/scss/_accordion";
@import "bootstrap/scss/_pagination";
@import "bootstrap/scss/_badge";
@import "bootstrap/scss/_alert";
@import "bootstrap/scss/_progress";
@import "bootstrap/scss/_list-group";
@import "bootstrap/scss/_close";
@import "bootstrap/scss/_toasts";
@import "bootstrap/scss/_modal"; // Requires transitions
@import "bootstrap/scss/_tooltip";
@import "bootstrap/scss/_popover";
@import "bootstrap/scss/_carousel";
@import "bootstrap/scss/_spinners";
@import "bootstrap/scss/_offcanvas"; // Requires transitions
@import "bootstrap/scss/_placeholders";
@import "bootstrap/scss/_helpers";
@import "bootstrap/scss/utilities/api";



//
// Custom styles not related to bootstrap:
//
@include media-breakpoint-down(lg) {

  // starting with LG size we only want one column:
  .float-end-override {
    width: 100% !important;
    height: auto !important;
    margin-bottom: 100px;
  }
}

@media(min-width:992px) {
  #call-to-action-block {
    margin-top: -90px
  }

  #content {
    margin-top: 0 !important
  }
}

#static-footer .row {
  margin: 1rem;
}

@media screen and (max-height: 812px) {
  #content {
    margin-top: 1rem;
  }

  #static-footer .row {
    margin: 0.5rem;
  }

  .form-text.text-muted {
    font-size: 0.75em;
  }
}

@media screen and (max-height: 568px) {
  #content {
    margin-top: 0rem;
  }

  #static-footer .row {
    margin: 0.5rem;
  }

  .form-text.text-muted {
    font-size: 0.65em;
  }
}

@media screen and (max-width: 374px) {

  // for very small display widhts we need to reduce the font size for the footer:
  #static-footer {
    font-size: 14px;
  }
}

// we don't want the footer logo to grow too big, otherwise the footer becomes too high:
#static-footer-logo {
  max-width: 80px !important;
  min-width: 40px;
}